<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This section is used for AppSettingsConfigurationManagerTests -->
  <appSettings>
    <add key="TestKeyString" value="TestValue" />
    <add key="TestKeyBool" value="true" />
    <add key="TestKeyBoolNonParsable" value="test" />
    <add key="TestKeyInt" value="500" />
  </appSettings>
</configuration>